/* Base */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: sandybrown;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* Main */
.main {
  max-width: 480px;
  margin: 50px auto;
  padding: 0 30px 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.main__title {
  color: white;
  font-size: 3rem;
  padding: 2rem 0;
}

/* Form */
.form {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.form__input {
  width: 70%;
  border: none;
  outline: none;
  padding: 1rem;
}

.form__dropdown {
  width: 30%;
  border: none;
  outline: none;
  padding: 0.95rem;
}

/* Task */
.tasks {
  list-style: none;
}

.tasks__container {
  width: 100%;
}

.task {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background-color: white;
  margin: 1rem 0;
  padding-left: 1rem;
}

.task__item {
  -webkit-box-flex: 1;
          flex: 1;
}

/* Button */
.button {
  outline: none;
  border: none;
  border-radius: 1px;
  background-color: #999999;
  color: white;
  padding: 1rem 1.1rem;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button__icon {
  pointer-events: none;
}

.button--complete {
  background-color: mediumaquamarine;
}

.button--delete {
  background-color: tomato;
}

/* Media queries */
