/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: $shadow;
}

/* Date */

.date {
  align-self: flex-start;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(223, 223, 223);

  &__day {
    color: $color-black;
  }

  &__month {
    margin-top: 10px;
    color: $color-grey;
    font-weight: 400;
  }
}

/* Form */

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  padding: 8px 12px 8px 20px;
  background-color: $color-white;
  border-radius: 30px;
  box-shadow: $shadow;

  &__input {
    width: 85%;
    border: none;
    outline: none;
    color: $color-black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
}

/* Task */

.tasks {
  list-style: none;

  &__container {
    width: 100%;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px 12px 8px 20px;
  background-color: $color-white;
  border-radius: 30px;
  box-shadow: $shadow;

  &__item {
    flex: 1;
  }

  &--complete {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
  }
}

/* Button */

.button {
  padding: 12px 13px;
  border: none;
  border-radius: 50%;
  outline: none;
  color: $color-white;
  background-color: rgb(93, 204, 245);
  box-shadow: $shadow;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &__icon {
    pointer-events: none;
  }

  &--complete {
    background-color: mediumaquamarine;
  }

  &--delete {
    margin-left: 10px;
    background-color: $color-grey;
  }
}
